﻿@section logoff{

    <ul class="crypto-menu-right">
        <li><a data-url="@Url.Action("Logout", "Account")" class="logoutbtn" style="cursor:pointer;">Logga ut</a></li>
    </ul>
}


@section onlinelist{
    <div id="divusers">

    </div>
}

@section chatwindow{
    <div id="divContainer">
        <div id="divLogin" class="login">
        </div>
        <div id="divChat">

            <div>
            </div>
            <input type="hidden" id="currentUserId" />
            <input type="hidden" id="currentUsername" />

        </div>
    </div>
}

@section chatscript{

    <link href="~/Content/ChatStyle.css" rel="stylesheet" />
    <link href="~/Content/JQueryUI/themes/base/jquery.ui.all.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script src="~/Scripts/Chat/client-functions.js"></script>
    <script src="~/Scripts/Chat/userlist.js"></script>
    <script src="~/Scripts/Chat/build-chat.js"></script>
    <script src="~/Scripts/Chat/connect-disconnect.js"></script>

    <script>

        $(function () {

            Connect();

        });
    </script>
}

