﻿
<link href="~/Content/Message-expander.css" rel="stylesheet" />
<link href="~/Content/JQueryUI/themes/base/jquery.ui.dialog.css" rel="stylesheet" />
<table id="private">
    <tr>
        <th>Avsändare:</th>
        <th></th>
    </tr>
    @foreach (var message in ViewBag.messageList)
    {
        <tr>
            <td>@message.SenderUsername</td>
            <td>@message.SentDateTime</td>
            <td><div class="arrow"></div></td>
        </tr>
        <tr>
            <td class="msgBtn" colspan="5">
                @if (message.IsEncrypted)
                {
                    <h4 style="cursor: pointer;">[ <i>Encrypted message</i> ]</h4>
                    <input type="hidden" class="idvalue" value="@message.Message" />
                }
                else
                {
                    <h4>@message.Message</h4>
                }
            </td>
        </tr>
    }

</table>
<div class="showMessage" id="showing">

</div>
<div id="popup" class="popupstyle">
    <p>
        Once you have decrypted the message.<br />
        The message will be deleted
    </p>
</div>

<script>
    $(document).ready(function () {

        var msg = $(".idvalue").val();

        $(".msgBtn").on('click', function () {
            $("#popup").dialog("open");
        });

        $("#popup").dialog({
            autoOpen: false,
            dialogClass: "no-close",
            buttons: {
                "Decrypt message": function () {
                    DecryptMessage();
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            },
            show: {
                effect: "shake",
            },
            hide: {
            }
        });

        function DecryptMessage() {
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "/Message/DecryptMessage",
                data: { "message": msg },
                success: function (data) {

                    $("#showing").html(data);
                }
            });
        }

        $("#private tr:odd").addClass("sender");
        $("#private tr:not(.sender)").hide();
        $("#private tr:first-child").show();

        $("#private tr.sender").click(function () {
            $(this).next("tr").toggle();
            $(this).find(".arrow").toggleClass("up");
        });


    });


</script>

