﻿@model CryptoMessanger.DbService.MessangerModel

<link href="~/Content/messageStyle.css" rel="stylesheet" />
<h3> Skicka meddelande</h3>
<div class="crypto-message">
    @using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
    {
        <div class="message-group">
            @Html.DropDownList("RecieverUsername", new SelectList(ViewBag.members, "Username", "Username"), "Skicka till", new { @class = "message-drop" })
        </div>
        <div class="message-group">
            @Html.TextAreaFor(model => model.Message, new { @class = "message-box" })
            @Html.HiddenFor(model => model.SenderUsername)
        </div>
        <div class="message-cryptobool">
            @Html.Label("Skicka krypterat")
            @Html.EditorFor(model => model.IsEncrypted)
        </div>
        <input id="send" type="submit" value="Send Message" class="message-button message-button-primary" />
    }
</div>
<div class="messageShow">
    @Html.Partial("_messagelist")
</div>


@section logoff{

    <ul class="crypto-menu-right">
        <li><a data-url="@Url.Action("Logout", "Account")" class="logoutbtn" style="cursor:pointer;">Logga ut</a></li>
    </ul>
}


@section onlinelist{
    <div id="divusers">

    </div>
}

@section chatwindow{
    <div id="divContainer">
        <div id="divLogin" class="login">
        </div>
        <div id="divChat">

            <div>
            </div>
            <input type="hidden" id="currentUserId" />
            <input type="hidden" id="currentUsername" />

        </div>
    </div>
}

@section chatscript{

    <link href="~/Content/ChatStyle.css" rel="stylesheet" />
    <link href="~/Content/JQueryUI/themes/base/jquery.ui.all.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script src="~/Scripts/Chat/client-functions.js"></script>
    <script src="~/Scripts/Chat/userlist.js"></script>
    <script src="~/Scripts/Chat/build-chat.js"></script>
    <script src="~/Scripts/Chat/connect-disconnect.js"></script>

    <script>

        $(function () {

            Connect();

        });
    </script>
}
