﻿
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/LoginForm.css" rel="stylesheet" />

<div class="crypto-auth-container">
    @using (Html.BeginForm("CreateUser", "Account", FormMethod.Post, new { id = "cryptologinform" }))
    {
        <label class="title">Create New</label>
        @*@Html.Label("CryptoMessanger", new { @class = "title" })*@
        @Html.Label("Användarnamn", new { @class = "labellogin" })
        <input type="text" id="username" name="username">
        @*@Html.TextBoxFor(model => model.UserName, new { id = "username" })*@
        @Html.Label("Lösenord", new { @class = "labellogin" })
        <input type="password" id="password" name="password">
        @*@Html.PasswordFor(model => model.PassWord, new { id = "password" })*@


        <input type="submit" value="Skapa" class="btnsubmit" id="loginsubmit" />
    }
</div>