﻿
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/LoginForm.css" rel="stylesheet" />


<div id="validate">
    <input type="hidden" value="@ViewBag.ErrorMessage" id="errormsg" />
</div>
<div class="crypto-auth-container">
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "cryptologinform" }))
    {
        <label class="title">CryptoMessanger</label>
        @Html.Label("Användarnamn", new { @class = "labellogin" })
        <input type="text" id="username" name="username" required>
        @Html.Label("Lösenord", new { @class = "labellogin" })
        <input type="password" id="password" name="password" required>
        

        <input type="submit" value="Logga in" class="btnsubmit" id="loginbtn" />
    }

    @Html.ActionLink("Create New ", "CreateUser", null, new { @class = "createnew" })
</div>



<script>

    $(document).ready(function () {

        var error = $("#errormsg").val();
        if (error != "") {

            alert(error);
        }
    });


</script>
