﻿body {
    padding: 0px;
    margin: 0px;
}


.submitButton {
    background-color: #9c9c9c;
    border: #0c383a solid 1px;
    padding: 4px;
    cursor: pointer;
}

    .submitButton:hover {
        background-color: #ffffff;
    }

.draggable {
    position: fixed;
    left: 50%;
    top: 220px;
    z-index: 1;
    border: #9c9c9c solid 1px !important;
    width: 250px;
    height: 300px;
}

    .draggable .header {
        cursor: move;
        background-color: #0c383a;
        border-bottom: #0c383a solid 1px;
        color: #ffffff;
    }

    .draggable .selText {
        color: #9c9c9c;
        font-size: 20px;
        padding: 4px;
    }

    .draggable .messageArea {
        width: 100%;
        overflow-y: scroll;
        height: 220px;
        border-bottom: #9c9c9c solid 1px;
    }

        .draggable .messageArea .message {
            padding: 4px;
        }

    .draggable .buttonBar {
        width: 100%;
        padding: 8px;
    }

        .draggable .buttonBar .msgText {
            width: 180px;
        }

        .draggable .buttonBar .button {
            margin-left: 4px;
            width: 45px;
            height: 28px;
            border: solid 1px black;
        }


.disconnect
{
    position: absolute;
    margin: 10px;
    background-color: #ffcbcb;
    padding: 4px;
    border: solid 1px red;
}
