﻿
.crypto-auth-container {
    display: inline-block;
    position: fixed;
    top: -50px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 340px;
    height: 350px;
    margin: auto;
    background: #0e4042;
    border-radius: 3px;
    border: 1px solid #ccc;
    -webkit-box-shadow: -5px 6px 68px 8px rgba(255,255,255,1);
    -moz-box-shadow: -5px 6px 68px 8px rgba(255,255,255,1);
    box-shadow: -5px 6px 68px 8px rgba(255,255,255,1);
}

form {
    margin: 0 auto;
    margin-top: 20px;
}

.labellogin {
    color: #fff;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 20px;
}


.title {
    color: #fff;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 35px;
}

.describe {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 15px;
}

p a {
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

    p a:hover {
        color: #555;
    }

input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    outline: none;
}

    input[type=text],
    input[type=password] {
        color: #777;
        padding-left: 10px;
        margin: 10px;
        margin-top: 12px;
        margin-left: 18px;
        width: 290px;
        height: 35px;
        border: 1px solid #c7d0d2;
        border-radius: 2px;
        box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        transition: all .4s ease;
    }

        input[type=text]:hover,
        input[type=password]:hover {
            border: 1px solid #c0bab6;
            box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f8f7f5;
        }

        input[type=text]:focus,
        input[type=password]:focus {
            border: 1px solid #e4c4a8;
            box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f9f2e6;
        }

#lower {
    background: #ecf2f5;
    width: 100%;
    height: 69px;
    margin-top: 20px;
    box-shadow: inset 0 1px 1px #fff;
    border-top: 1px solid #ccc;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}


input[type=submit] {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 120px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #001D1F;
    background-color: #013336; /*IE fallback*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6FABAD), to(#829D9E));
    background-image: -moz-linear-gradient(top left 90deg, #6FABAD 0%, #829D9E 100%);
    background-image: linear-gradient(top left 90deg, #6FABAD 0%, #829D9E 100%);
    border-radius: 5px;
    border: 1px solid #001D1F;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}

    input[type=submit]:hover {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#829D9E));
        background-image: -moz-linear-gradient(top left 90deg, #fff 0%, #829D9E 100%);
        background-image: linear-gradient(top left 90deg, #fff 0%, #829D9E 100%);
    }

    input[type=submit]:active {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#829D9E), to(#fff));
        background-image: -moz-linear-gradient(top left 90deg, #829D9E 0%, #fff 100%);
        background-image: linear-gradient(top left 90deg, #829D9E 0%, #fff 100%);
    }


.errorlogin {
    position: fixed;
    top: 140px;
    left: 800px;
    background-color: #d1e8a7;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 79px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 79px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 79px 0px rgba(255,255,255,1);
}

.createnew{
    float: left;
    padding-right: 20px;
    margin-top: 20px;
    color: #fff;
}
