﻿.crypto-message {
    padding-top: 50px;
}

    .crypto-message input,
    .crypto-message textarea {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: middle;
    }

    .crypto-message textarea {
        vertical-align: top;
    }

    .crypto-message .message-group {
        margin-bottom: 0.5em;
    }

.message-group .message-label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    font-size: 20px;
    margin: 0 1em 0 0;
}

.message-drop {
    position: relative;
    left: 50px;
    top: 5px;
    width: auto;
    height: 30px;
    font-size: 16px;
}

.message-box {
    position: relative;
    font-size: 16px;
    left: 50px;
    top: 20px;
    width: 400px;
    height: 70px;
}

.message-cryptobool {
    position: relative;
    left: 50px;
    top: 20px;
}


/*button and stuff---------------------*/

.message-button {
    position: relative;
    top: 20px;
    left: 200px;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background: #239fa3;
    background-image: -webkit-linear-gradient(top, #239fa3, #0f3b57);
    background-image: -moz-linear-gradient(top, #239fa3, #0f3b57);
    background-image: -ms-linear-gradient(top, #239fa3, #0f3b57);
    background-image: -o-linear-gradient(top, #239fa3, #0f3b57);
    background-image: linear-gradient(to bottom, #239fa3, #0f3b57);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    border: solid #ffffff 0px;
    text-decoration: none;
}

.message-button:hover {
    background: #6eb39f;
    background-image: -webkit-linear-gradient(top, #6eb39f, #395b5c);
    background-image: -moz-linear-gradient(top, #6eb39f, #395b5c);
    background-image: -ms-linear-gradient(top, #6eb39f, #395b5c);
    background-image: -o-linear-gradient(top, #6eb39f, #395b5c);
    background-image: linear-gradient(to bottom, #6eb39f, #395b5c);
    text-decoration: none;
}


