﻿body {
    font-family: Arial, Helvetica, Sans-Serif;
}

#private {
    position: relative;
    top: -250px;
    right: -400px;
    font-size: 12px;
    color: #333333;
    width: 100%;
    border-width: 1px;
    border-color: #114b4d;
    border-collapse: collapse;
    width: 500px;
}

    #private th {
        background: #114b4d;
        color: #d0d0d0;
        padding: 7px 15px;
        text-align: left;
        font-size: 16px;
        border: 1px solid #114b4d;
    }

    #private td {
        color: #000;
        font-size: 16px;
        padding: 7px 15px;
    }

    #private tr.sender td {
        background: #fff;
        cursor: pointer;
    }

    #private div.arrow {
        background: transparent url(Img/arrows.png) no-repeat scroll 0px -16px;
        width: 16px;
        height: 16px;
        display: block;
        position: relative;
    }

    #private div.up {
        background-position: 0px 0px;
    }

.hiddenMsg {
    cursor: pointer;
}

span.dropt {
    border-bottom: thin dotted;
    background: #ffeedd;
}

    span.dropt:hover {
        text-decoration: none;
        background: #ffffff;
        z-index: 6;
    }

    span.dropt span {
        position: absolute;
        left: -9999px;
        margin: 20px 0 0 0px;
        padding: 3px 3px 3px 3px;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        z-index: 6;
    }

    span.dropt:hover span {
        left: 2%;
        background: #ffffff;
    }

    span.dropt span {
        position: absolute;
        left: -9999px;
        margin: 4px 0 0 0px;
        padding: 3px 3px 3px 3px;
        border-style: solid;
        border-color: black;
        border-width: 1px;
    }

    span.dropt:hover span {
        margin: 20px 0 0 170px;
        background: #ffffff;
        z-index: 6;
    }
