﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("Img/bkg.jpg");
    width: 100%;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}


input,
select,
textarea {
    max-width: 280px;
}

.online {
}

    .online span {
        display: block;
        height: 35px;
        float: left;
        padding: 0 7px;
        color: #fff;
        font-size: 20px;
        line-height: 35px;
        font-weight: bold;
        margin-right: 6px;
        text-shadow: 1px 1px 1px #000;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

.crypto {
    position: relative;
    display: block;
    left: 10%;
    width: 70%;
    padding: 14px 15px;
    height: 2000px;
}

.cryptochatwindow {
    position: fixed;
    top: 300px;
    left: 40%;
    z-index: 3;
    width: 130px;
    min-height: 300px;
    margin-left: 500px;
    background-color: #d6e47b;
    border: 1px solid #d6e47b;
    -webkit-box-shadow: -2px 2px 30px 3px rgba(51, 51, 51, 0.73);
    -moz-box-shadow: -2px 2px 30px 3px rgba(51, 51, 51, 0.73);
    box-shadow: -2px 2px 30px 3px rgba(51, 51, 51, 0.73);
}

.onlinelist {
    float: left;
}

.crypto-top {
    position: relative;
    display: block;
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}

.crypto-submenu,
.crypto-content {
    padding: 14px 20px;
    margin-top: 65px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.crypto-submenu {
    z-index: 10;
    height: 10px;
}

.crypto-content {
    background-color: #fff;
    height: 1990px;
    padding-top: 40px;
    border: 1px solid #b2b2b2;
    -webkit-box-shadow: -2px 2px 30px 3px rgba(12,56,58,1);
    -moz-box-shadow: -2px 2px 30px 3px rgba(12,56,58,1);
    box-shadow: -2px 2px 30px 3px rgba(12,56,58,1);
}

.crypto-menu {
    display: block;
    height: 35px;
}

    .crypto-menu ul {
        list-style: none;
        padding: 0 7px;
    }

        .crypto-menu ul li {
            display: inline;
            float: left;
        }

            .crypto-menu ul li a {
                display: block;
                padding: 0 8px;
                color: #fff;
                font-size: 20px;
                text-decoration: none;
                line-height: 35px;
                font-weight: bold;
                margin-right: 6px;
                text-shadow: 1px 1px 1px #000;
                -webkit-transition: all 0.2s linear;
                -moz-transition: all 0.2s linear;
                transition: all 0.2s linear;
            }

                .crypto-menu ul li a:hover {
                    color: #0c383a;
                }

.crypto-menu-right {
    float: right !important;
}


/*MessageShow---------------*/


.ui-dialog
{
    position: fixed;
    width: 340px;
    height: 130px;
    left: 50%;
    top: 50%;
    background: #bee44f;
    color: #000;
    -webkit-box-shadow: 1px 2px 12px 5px rgba(181,181,181,0.73);
    -moz-box-shadow: 1px 2px 12px 5px rgba(181,181,181,0.73);
    box-shadow: 1px 2px 12px 5px rgba(181,181,181,0.73);
}

.no-close .ui-dialog-titlebar-closed{
    display: none;
}


.showMessage {
    float: left;
    width: 400px;
    height: auto;
    padding-top: -10%;
}

/*-----------------------*/
