﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryint")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @RenderSection("chatwindow", required: false)
    @RenderSection("chatscript", required: false)
    <div class="crypto-top">
        <img src="~/Content/Img/cryptomessangerTop2.png" />
    </div>
    <div class="crypto">
        <div class="crypto-menu">
            <ul style="cursor:pointer">
                <li><a data-url="@Url.Action("SendMessage", "Message")" class="message">Meddelande</a></li>
            </ul>
            @RenderSection("logoff", required: false)
        </div>
        <div class="crypto-submenu">
            Välkommen: @User.Identity.Name
        </div>
        <div class="crypto-content">
            <div class="cryptochatwindow">
                <div class="online">
                    <span>-- online --</span>
                </div>
                @RenderSection("onlinelist", required: false)
            </div>
            <div id="contentdetails">
                @RenderBody()
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/MenuNav/message.js"></script>
</body>
</html>